[common]
  log_level = "info"
  log_format = "logfmt"
  http_port = ":9601"
  graceful_timeout = 180
  [common.log_fields]
    runner = "local"
    dc = "east-01"
    host = "${COMPUTERNAME}"
  [common.log_replaces]
    'Bearer \w+' = "<BEARER TOKEN>"

[runtime]
  gcpercent = "75%"
  memlimit = "1%"
  maxthreads = 100
  maxprocs = 16

[engine]
  storage = "fs"
  fail_fast = false
  [engine.fs]
    directory = ".pipelines"
    extension = "toml"
  [engine.postgresql]
    instance = "neptunus.local"
    dsn = "postgres://localhost:5432/postgres"
    username = "postgres"
    password = "pguser"
    migrate = true
