[settings]
  id = "test.pipeline.rename"
  lines = 2
  run = false
  buffer = 5

[[inputs]]
  [inputs.http]
    enable_metrics = true
    address = ":9100"
    max_connections = 10
    query_params_to = ""
    wait_for_delivery = false
    tls_enable = false
    [inputs.http.labelheaders]
      region = "x-region"
      stage  = "x-stage"
    [inputs.http.parser]
      type = "json"
      split_array = true

[[processors]]
  [processors.rename]
    delete_origin = false
    [processors.rename.labels]
      "x-stage"  = "stage"
      "x-region" = "t-region"
    [processors.rename.fields]
      "result" = "status"

[[outputs]]
  [outputs.log]
    [outputs.log.serializer]
      type = "json"
