[settings]
  id = "test.pipeline.sqlproc"
  lines = 2
  run = false
  buffer = 5

[[inputs]]
  [inputs.http]
    address = ":9100"
    max_connections = 10
    query_params_to = "."
    wait_for_delivery = false
    tls_enable = false
    tls_key_file = '.testcerts\server-key.pem'
    tls_cert_file = '.testcerts\server-cert.pem'
    tls_allowed_cacerts = [ '.testcerts\ca-cert.pem' ]
    [inputs.http.parser]
      type = "json"
      split_array = true

[[processors]]
  [processors.log]
    log_level = "debug"
    level = "debug"
    [processors.log.serializer]
      type = "json"
      data_only = false

[[processors]]
  [processors.starlark]
    code = '''
def process(event):
    event.setLabel("table", event.getRK().strip("/"))
    return event
    '''

[[processors]]
  [processors.sql]
    log_level = "debug"
    driver = "oracle"
    dsn = "oracle://localhost:1521/XE?TIMEOUT=15"
    username = "test"
    password = "test"
    retry_attempts = 1
    [processors.sql.fields]
      id = "id"
    [processors.sql.on_event]
      query = 'SELECT * FROM SYS.TEST_VIEW_30_SEC'

[[outputs]]
  [outputs.log]
    level = "info"
    [outputs.log.serializer]
      type = "json"
      data_only = false


# CREATE TABLE IF NOT EXISTS EXPEDITIONS (
# 	EXPEDITION_TYPE TEXT
# 	, EXPEDITION_REGION TEXT
#   , EXPEDITION_OWNER TEXT
#   , EXPEDITION_UID serial primary key
# );

# INSERT INTO EXPEDITIONS (EXPEDITION_OWNER) VALUES ('Joe', 'Cool') RETURNING EXPEDITION_UID;