[settings]
  id = "test.pipeline.dtemplate"
  lines = 2
  run = false
  buffer = 5

[[inputs]]
  [inputs.http]
    enable_metrics = true
    address = ":9100"
    max_connections = 10
    query_params_to = ""
    wait_for_delivery = false
    tls_enable = false
    [inputs.http.parser]
      type = "json"
      split_array = true

[[processors]]
 [processors.defaults.labels]
   tmplabel = '{{ .RoutingKey }}-{{ .Timestamp.Format "2006-01-02" }}'
  [processors.defaults.fields]
   tmpfield = '{{ .RoutingKey }}-{{ .Timestamp.Format "2006-01-02" }}'

[[processors]]
  [processors.dynamic_template]
      enable_metrics = true
      template_ttl = "1m"
      labels = [ "tmplabel" ]
      fields = [ "tmpfield" ]

[[processors]]
  [processors.stats]
    enable_metrics = true
    mode = "shared"
    period = "15s"
    metric_ttl = "1m"
    routing_key = "neptunus.generated.metric"
    [processors.stats.fields]
      "keysnum" = ["count", "sum", "avg", "gauge", "max", "min", "histogram"]

[[outputs]]
  [outputs.log]
    [outputs.log.serializer]
      type = "json"
