[settings]
  id = "test.pipeline.starlark"
  lines = 5
  run = true
  buffer = 1_000

[[keykeepers]]
  [keykeepers.env]
    alias = "env"

[[inputs]]
  [inputs.http]
    address = ":9100"
    max_connections = 10
    tls_enable = false
    tls_key_file = '.testcerts\server-key.pem'
    tls_cert_file = '.testcerts\server-cert.pem'
    tls_allowed_cacerts = [ '.testcerts\ca-cert.pem' ]
  [inputs.http.parser]
    type = "json"

[[processors]]
  [processors.starlark]
    code = '''
load("log.star", "log")

def process(event):
    event.setField("thenumber", thenumber)
    event.setField("table", table)
    event.delErrors()

    log.warn("simple warn")
    log.info("it is event", event=event)
    log.error("it is error", error=error("boooop"))
    log.error("it is both", event=event, error=error("kaboom"))

    return event
    '''
    [processors.starlark.constants]
      thenumber = 42
      table = { a = "a", b = true }

[[processors]]
  [processors.log]
    level = "info"
    drop_origin = true
    [processors.log.serializer]
      type = "json"
      data_only = false

[[outputs]]
  [outputs.log]
    level = "info"
    [outputs.log.serializer]
      type = "json"
      data_only = false
