[settings]
  id = "test.pipeline.mixer"
  lines = 8
  run = true
  buffer = 5
  log_level = "info"

[[keykeepers]]
  [keykeepers.self]
    alias = "self"

[[inputs]]
  [inputs.cronjob]
    location = "UTC"
    # this job is used to create table partitions
    [[inputs.cronjob.jobs]]
      name = "partition.create"
      schedule = "@every 1s"
      force = true

[[processors]]
  [processors.starlark]
    log_level = "debug"
    code = '''
load("time.star", "time")
load("date.star", "date")
load("yaml.star", "yaml")
load("fs.star",   "fs")

def process(event):
    events = []

    for i in range(300):
        t = time.now() + time.hour * 24 * i
        e = newEvent("expeditions_" + t.format("2006_01_02"))
        e.setField("weekday", date.weekday_of(t))
        e.setField("month", date.month_of(t))
        e.setField("c", 1)

        events.append(e)

    return events
    '''

[[processors]]
  [processors.through]
#    sleep = "1s"

[[processors]]
  [processors.mixer]
#    log_level = "debug"

[[processors]]
  [processors.stats]
    mode = "shared"
    period = "2s"
    [processors.stats.fields]
      c = [ "gauge", "count", "sum" ]

[[processors]]
  [processors.drop]

[[outputs]]
  [outputs.log]
    level = "info"
    [outputs.log.serializer]
      type = "json"
      data_only = false
    [outputs.log.filters.glob]
      routing_key = [ "neptunus.generated.metric" ]
